@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
/*========== 
 - Table of Contents -

 1 - top-bar (side)

 2 - container

 3 - visual

 4 - buttons

 5 - answer section
 
===========*/



html {
    background-image: linear-gradient(145deg, #221122 55%, #e66858 45%);
    min-height: 100%;
    font-family: 'Rubik', sans-serif;
   

}


body {

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;



}


/*===========
1 -  
============*/
.header-bar {

position: absolute;
top: 0;
display: flex;
align-items: center;
justify-content: space-between;
background: white;
width: 100%;
height: 100px;
padding: 1rem;
}

.timer {


}



/*===========
2 -
============*/

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    min-width: 80%;
    background: rgba(255, 255, 255, 0.514);
    z-index: 2;

    }




/*===========
3 -
============*/

.viewport {

width: 110vh;
height: 30vh;
background-color: rgba(255, 255, 255, 0.171);
padding: 30px;
margin-bottom: 40px;

}









/*===========
4 -
============*/

.ans-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
}

.ans-btn {
    /* display: flex; */
    width: 280px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    border: none;

}


/*===========
5 -
============*/